/* Header Tags */
h1 {
    margin: 0;
    padding: 0 0 20px; /* adds space below header */
    text-align: center; /* centers text */
    font-size: 28px;
    font-family: "Cambria Math", serif;
}

/* Profile Picture */
.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* changes shape of profile picture to circle */
    position: absolute;
    top: -50px; /* moves profile picture to top of login box */
    left: calc(50% - 50px); /* moves profile picture to middle of login box */
    box-shadow: 0 0 9px black; /* adds shadow around profile picture */
}

/* Login Box */
.loginBox {
    width: 400px;
    height: 420px;
    background: whitesmoke; /* background color of login box is an off-white */
    color: black;
    /* centers login box */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; /* adds space between text and login box outline */
    box-shadow: 0 0 7px black; /* adds shadow around login box */
    font-family: "Cambria Math", serif;
}

/* Login Box Text */
.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold; /* bolds text */
    font-size: 20px;
    font-family: "Cambria Math", serif;
}

.loginBox input, #login {
    width: 100%; /* input boxes extend full length */
    margin-bottom: 20px; /* adds space below input boxes */
    font-family: "Cambria Math", serif;
}

.loginBox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid black; /* adds only bottom border to input box */
    background: transparent; /* makes input box background transparent */
    outline: none; /* no outline around input boxes */
    height: 40px; /* changes height of input boxes to 40px */
    color: black;
    font-size: 16px;
    font-family: "Cambria Math", serif;
}

/* Submit Button */
#login {
    border: none; /* no border on submit button */
    outline: none; /* no outline on submit button */
    height: 40px; /* height of submit button is 40px */
    background: dodgerblue; /* submit button background color is blue */
    color: black;
    font-size: 18px;
    border-radius: 20px; /* changes shape of submit button to rounded */
    font-family: "Cambria Math", serif;
}

#login:hover {
    cursor: pointer; /* changes mouse to pointing hand when hovering */
    background: #1e78ff; /* button changes to darker blue when hovering */
}

/* Links */
.loginBox a {
    text-decoration: none; /* gets rid of underline */
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-family: "Cambria Math", serif;
}

.loginBox a:hover {
    color: lightgray; /* link color changes to light gray when hovering */
}

.background-img {
    /* Set background image opacity*/
    opacity: 70%;
}