/* Header Tags */
h1 {
    color: floralwhite;
    margin: 0px 30px;
}

h4 {
    margin: 0;
}

/* Paragraph Tag */
p {
    margin: 5px 0;
}

/* Textarea Tag */
textarea {
    width: 100%;
    height: 40px;
}

/* Buttons */
button {
    padding: 3px;
    margin-top: 5px;
}

/* Thread Title Class */
.top-bar {
    background-color: #5d4954;
    padding: 10px;
    margin: 20px 60px 0 60px;
}

/* Post and Comment Section classes */
.postBox, .commentSection {
    background-color: #F6F6EF;
    padding: 10px 40px;
    margin: 0 60px;
}

/* Comment section */
.bottom {

}

.timestamp {
    padding-right: 10px;
    display: flex;
    color: grey;
    font-size: 12px;
}

h5 {
    font-size: 16px;
    margin: 5px 0 10px 0;
    font-weight: normal;
}

.commentSection {
    margin-top: 10px;
    block-size: fit-content;
}

.username {
    margin-top: 20px;
}